.table-holder {
  margin: 0;
}

table {
  &.table {
    margin-bottom: $gl-padding;

    .dropdown-menu a {
      text-decoration: none;
    }

    .success,
    .warning,
    .danger,
    .info {
      color: #fff;

      a:not(.btn) {
        text-decoration: underline;
        color: #fff;
      }
    }

    tr {
      td, th {
        padding: 10px $gl-padding;
        line-height: 20px;
        vertical-align: middle;
      }

      th {
        background-color: $background-color;
        font-weight: normal;
        font-size: 15px;
        border-bottom: 1px solid $border-color;

        &.sortable {
          cursor: pointer;
        }
      }

      td {
        border-color: $table-border-color;
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
