%li.key-list-item
  .pull-left.append-right-10
    = icon 'key', class: "key-icon hidden-xs"
  .key-list-item-info
    = link_to path_to_key(key, is_admin), class: "title" do
      = key.title
    .description
      = key.fingerprint
  .pull-right
    %span.key-created-at
      created #{time_ago_with_tooltip(key.created_at)}
    - unless key.is_a? LDAPKey
      = link_to path_to_key(key, is_admin), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent prepend-left-10" do
        %span.sr-only Remove
        = icon('trash')
